name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true


env:
  VERSION: "${{ inputs.version }}"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: true
          fetch-depth: 0
      - name: Git setup
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "	41898282+github-actions[bot]@users.noreply.github.com"
      - name: Update changelog
        uses: orhun/git-cliff-action@e16f179f0be49ecdfe63753837f20b9531642772 # v4.7.0
        with:
          args: "--unreleased"
        env:
          OUTPUT: release.md
          GIT_CLIFF_PREPEND: CHANGELOG.md
          GIT_CLIFF_TAG: "v${{ inputs.version }}"
          GITHUB_REPO: ${{ github.repository }}
      - name: Update Cargo.toml
        run: |
          awk -i inplace -f tools/update-version.awk Cargo.toml
      - name: Commit and push changes
        run: |
          set +e
          git add CHANGELOG.md Cargo.toml
          git commit -m "Update version to ${VERSION}"
          git push "https://github.com/${GITHUB_REPOSITORY}.git" main
      - name: Create release
        run: |
          gh release create --notes-file release.md "v${VERSION}"
        env:
          GH_TOKEN: ${{ github.token }}


